@import '@styles/mixin.scss';

.itemlist__breadcrumb {
    @include color-scheme($clr-white, $clr-lightgrey);
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1rem;
    width: $container-width;
    font-size: 14px;

    .goback_breadcrumb {
        cursor: pointer;
    }
}