@import '@styles/mixin.scss';

.item__container {
    @include color-scheme(#fff, $clr-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border-bottom: 1px solid $clr-white;

    .item__image {
        padding: 1rem;
        height: 180px;
        width: 180px;
        border-radius: 4px;
    }

    .item__description {
        padding-top: 1.5rem;
        height: 180px;
        width: 60%;

        h3 {
            font-size: 24px;
            margin-bottom: 2rem;
        }
        p {font-size: 18px;}
    }

    .item__location {
        width: 20%;
        text-align: start;
        font-size: 12px;
    }
}