@import '@styles/mixin.scss';

.details__container {
    @include color-scheme($clr-white, $clr-black);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 90vh;
    width: 100%;
}